<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh5Abcuxy_BmGd1hzqE8EWPtkp77ZjBkw</string>
	<key>GCM_SENDER_ID</key>
	<string>403186135178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wahdanz.restaurant</string>
	<key>PROJECT_ID</key>
	<string>restaurant-5b40a</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-5b40a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403186135178:ios:250f728bd1d8e4bd167d73</string>
</dict>
</plist>